/* Custom styles */

.row {
  overflow: auto;
}

.size-auto { height: auto}

.layout-header { padding: 1rem 0 0 2rem;}
.layout-main { padding-top: 8rem;}

.palette {
  padding: 20px;
}

.color-palette {
  display: flex;
}

.color {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #dfdfdf; 
}

.dark-text {
  color: black;
}

.white { background: white;}
.black { background: black;}


/* Palette 1 */
.p1-primary {
  background: #4D62A4; }
.p1-secondary {
  background: #87A2BD; }
.p1-tertiary {
  background: #4A5374; }
.p1-quaternary {
  background: #9AA4BF; }
.p1-accent {
  background: #04C29C; }

/* Palette 2 */
.p2-primary {
  background: #38445C; }
.p2-secondary {
  background: #87A2BD; }
.p2-tertiary {
  background: #F4E0C8; }
.p2-quaternary {
  background: #BE9C83; }
.p2-accent {
  background: #D47E5D; }


/* Palette 3 */
.p3-primary {
  background: #47A89D; }
.p3-secondary {
  background: #58BE99; }
.p3-tertiary {
  background: #5DBE89; }
.p3-quaternary {
  background: #63BEAC; }
.p3-accent {
  background: #97F8E4; }


/* Palette 4 */
.p4-primary {
  background: #D4BEC0; }
.p4-secondary {
  background: #F0C4BB; }
.p4-tertiary {
  background: #F5E2D4; }
.p4-quaternary {
  background: #FFD3AE; }
.p4-accent {
  background: #FF896F; }

/* Palette 5 */
.p5-primary {
  background: #1C2A57; }
.p5-secondary {
  background: #87A2BD; }
.p5-tertiary {
  background: #A8A0F5; }
.p5-quaternary {
  background: #ABCAF6; }
.p5-accent {
  background: #F58CC7; }